<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>servicos</title>
    </head>
    <body>
        <a href="{% url "pg_index" %}">
        <butoon>VOLTAR</butoon>
        </a>
        
        <form method="post">
            {% csrf_token %}
            {{ servicos.as_p }}
            <button type="submit">Salvar</button>
            <button type="button">Cancelar</button>
        </form>
    </body>
</html>
