{% extends 'base1.html' %}

{% block content %}
<table class="table">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>lista de Dados Inseridos Pelo Formulario</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>Lista de Clientes</h2>
        </div>
        <div class="col-md-2">
            <a class="nav-link" href="{% url 'formulario' %}"><button class="btn btn-md btn-success">Criar Novo item</button></a>
        </div>
    </div>
    <thead>
        <tr>
            <th scope="col">nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in cliente %}
        <tr>
            <td>
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="{$ url 'form_list'  $}">{{ cliente.name }}</a>
            </td>
            <td>
                <ul class="nav">
                    <li style="padding-right: 1%;">
                         <a href="">
                            <button class="btn btn-sm btn-primary">Editar</button>
                        </a>  
                    </li>
                        <a href="{% url "form-delete" cliente.pk %}">
                            <button class="btn btn-sm btn-danger">Excluir

                            </button>
                        </a>
               </ul>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>       
{% endblock %}