{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-10">
        <h2>Detalhes do Cliente</h2>
    </div>
    <div class="col-md-2">
        <a href="{% url 'form-list' %}">
            <button class="btn btn-md btn-info">
                Voltar
            </button>
        </a>
    </div>
</div>
<div class="row p-5">
    <div class="col-md-6">
        <p>nome: {{ clients.name }} </p>
        <p>cpf ou CNPJ: {{ clients.cpf_cnpj }}</p>
        <p>rg_ie: {{clients.rg_ie}}</p>
    </div>
    <div class="col-md-6">
        <p>cep: {{ clients.zip_code }} </p>
        <p>Endereço: {{ clients.address }}</p>
        <p>Número: {{clients.number}}</p>
        <p>Bairro: {{ clients.neighborhood }} </p>
        <p>Cidade: {{ clients.city }}</p>
        <p>UF: {{clients.state}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a style="padding-right: 1%;" href="{% url 'form-edit' clients.pk %}">
            <button class="btn btn-lg btn-warning">Editar</button>
        </a>
        <a href="{% url 'form-delete' clients.pk %}">
            <button class="btn btn-lg btn-danger">Excluir</button>
        </a>
    </div>
</div>
{% endblock %}