{% extends 'base1.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 p-5 text-center">
            <h1>Exemplo de CRUD na forma nativa do django</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>Lista de Itens</h2>
        </div>
        <div class="col-md-2">
            <a class="nav-link" href="{% url 'item-create' %}">
                <button class="btn btn-md btn-success">
                    Criar Novo Item
                </button>
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Ações</th> 
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td>
                    {{ item.nome }}
                </td>
                <td>
                    <ul class="nav">
                        <li style="padding-right: 1% ;">
                            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'item-edit' item.pk %}">
                                <button class="btn btn-sm btn-primary">
                                    Editar
                                </button>
                            </a>
                        </li>
                        <li>
                            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'item-delet' item.pk %}">
                                <button class="btn btn-sm btn-danger">
                                    Excluir
                                </button>
                            </a>
                        </li>
                    </ul> 
                </td>             
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
{% endblock %}