body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.dell-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 90%;
    align-self: center;
}

.card{
    border: 2px solid #0011ff; 
    display: flex;
    flex-direction: column;
    padding: 10px; 
    border-radius: 10px;
    width: 250px;
    height: auto;
    align-items: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #4CAF50;
}

h2{
  color: #0044ff;
  border: 1px solid #ccc; /* Adicionei uma borda apenas para visualização */
  padding: 0; /* Removendo o preenchimento interno */
  margin: 0; /* Removendo as margens */
}

.card-detalhes{
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: auto;
    background-color: rgb(22, 179, 147);
}

.Navbar2{
    display: flex;
    flex-direction: column;
    background-color: #46ACC2;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    row-gap: 10px;
    padding: 5px 0px 5px 16px; 
    text-align: center;
    border: 1px solid #ccc; /* Adicionei uma borda apenas para visualização */
    padding: 0px; /* Removendo o preenchimento interno */
    margin: 0px; /*Removendo as margens */
}

footer{
    background-color: #46ACC2;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* Estilo para o botão do menu suspenso */
.dropdown-button {
  background-color: #4CAF50;
  display: flex;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  row-gap: 10px;
  width: 5%;
}

/* Estilo para o conteúdo do menu suspenso */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo para os links dentro do menu suspenso */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Altera a cor dos links do menu suspenso quando o mouse passa sobre eles */
.dropdown-content a:hover {
  background-color: #ff0000;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-style: initial;
}

footer{
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

.menu {
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px 10px 10px;
  
}

.menu li {
  display: inline;
  
}

.menu li a {
  text-decoration: none;
  padding: 10px;
  
}

.menu li a:hover {
  background-color: #ccc;
}

