.Lista-card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    flex-wrap: wrap ;
    row-gap: 10px;
    column-gap: 10px;
    
}
.card{
        border: 3px solid #000;
        width: fit-content;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: aqua;
        
}

