.Lista-card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex; /* serve para deixa os itens soltos */
    flex-wrap: wrap ; /* serve deixa os items um do lado do outro*/ 
    row-gap: 10px; /* serve para da espaçamentos entre items*/
    column-gap: 10px;
    
}
.card{
        border: 3px solid #000;
        width: fit-content;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: aqua;
        
}

