.lista-card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex; /* serve para deixa os itens soltos */
    flex-wrap: wrap ; /* serve deixa os items um do lado do outro*/ 
    row-gap: 10px; /* serve para da espaçamentos entre items*/
    column-gap: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        
}
.card{
        border: 5px solid #2ad70b59;
        width: fit-content;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: aqua;
        
        
}
